.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 0.25em;
    width: 50%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.error_text {
    color: red;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button {
    padding: 1em;
    margin: 1em;
}

.Remove {
    background-color: none;
    border: none;
    text-decoration: underline;
    color: darkslateblue;
    cursor: pointer;
    padding: 0;
    line-height: normal;

    :hover, :focus {
        box-shadow: none;
    }
}

.RemoveContainer {
    display: flex;
    justify-content: flex-end;
}