@use "../../scss/partials/queries" as q;

.TaskCard {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(black, 0.5);
    border-bottom: none;
    background-color: #eef0f2;
}

.Task, .Category {
    font-weight: normal;
}

.Buttons {
    display: flex;
    flex-direction: column;
}

.TaskInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 61%;
    text-decoration: none;
    color: black;
    padding-left: 1.5em;
    border-left: 1px solid rgb(red, 0.5);

    @include q.tablet {
        width: 62%;
    }

    @include q.desktop {
        width: 64%;
    }
}

.CheckboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-right: 2px solid rgb(red, 0.5);
}

.Checkbox {
    accent-color: white;
}

.HighlighterContainer {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}