.TaskCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100px;
    border: 1px solid black;
}

.Task, .Category {
    font-weight: normal;
}

.Buttons {
    display: flex;
    flex-direction: column;
}