.CompletedButton {
    border-radius: 5px 5px 0 0;
    border: 1px solid fuchsia;
    border-bottom: none;
    background-color: rgb(fuchsia, 0.5);
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease; 
}

.CompletedSelected {
    height: 60px;
}

.CompletedUnselected {
    height: 40px;
}